*.o
*.asm
*.sym
*.out

build/*
.idea/
.cmake-build-*/
CMakeLists.txt

boot/bootblock
distrib/ulib/ulib.a
distrib/uprogs/cat
distrib/uprogs/echo
distrib/uprogs/forktest
distrib/uprogs/grep
distrib/uprogs/init
distrib/uprogs/kill
distrib/uprogs/ln
distrib/uprogs/ls
distrib/uprogs/mkdir
distrib/uprogs/rm
distrib/uprogs/sh
distrib/uprogs/stressfs
distrib/uprogs/usertests
distrib/uprogs/wc
distrib/uprogs/zombie
kernel/kernel
kernel/vectors.S
kernel/entryother
kernel/initcode
tools/mkfs

xv6.pdf
